/* Standard-Stile für die Karte */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Die Karte nimmt die volle Seite ein */
#map {
    width: 100%;
    height: 100vh;
}

/* Darkmode / Whitemode Stile */
.darkmode {
    background-color: #1a1a1a;
}
.whitemode {
    background-color: #f4f4f4;
}
